<%- include header %>
<h2>效果</h2>
<hr>
<div class="row">
	<div class="col-sm-6 col-md-4 col-md-4 col-lg-3 ">
		<div class="thumbnail">
			<a href="/note/A00001/index.html" style="background: #f96606;" target="_blank">
				<p>高光导航</p>
				<strong>利用 CSS3的径向渐变 实现</strong>
				<div class="boxPanel">
					<div class="pull-left">CSS3</div>
					<div class="pull-right">2014-12-05</div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-sm-6 col-md-4 col-md-4 col-lg-3 ">
		<div class="thumbnail">
			<a href="/note/A00002/index.html" style="background: #000000;" target="_blank">
				<p>打字效果</p>
				<strong>利用 CSS3的阴影 实现</strong>
				<div class="boxPanel">
					<div class="pull-left">CSS3</div>
					<div class="pull-right">2014-12-05</div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-sm-6 col-md-4 col-md-4 col-lg-3 ">
		<div class="thumbnail">
			<a href="/note/A00003/index.html" style="background: #999aa1;" target="_blank">
				<p>地图定位图表</p>
				<strong>利用 CSS3的运动和CSS伪类 实现</strong>
				<div class="boxPanel">
					<div class="pull-left">CSS3</div>
					<div class="pull-right">2014-12-05</div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-sm-6 col-md-4 col-md-4 col-lg-3 ">
		<div class="thumbnail">
			<a href="/note/A00004/index.html" style="background: #7f82c6;" target="_blank">
				<p>银色质感文字</p>
				<strong>利用 CSS3的运动和渐变 实现</strong>
				<div class="boxPanel">
					<div class="pull-left">CSS3</div>
					<div class="pull-right">2014-12-05</div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-sm-6 col-md-4 col-md-4 col-lg-3 ">
		<div class="thumbnail">
			<a href="/note/A00005/index.html" style="background: #123456;" target="_blank">
				<p>访客头像列表</p>
				<strong>利用 CSS3的缩放运动 实现</strong>
				<div class="boxPanel">
					<div class="pull-left">CSS3</div>
					<div class="pull-right">2014-12-06</div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-sm-6 col-md-4 col-md-4 col-lg-3 ">
		<div class="thumbnail">
			<a href="/note/A00006/index.html" style="background: #654321;" target="_blank">
				<p>CSS3时钟</p>
				<strong>利用 CSS3的旋转和JS定时器 实现</strong>
				<div class="boxPanel">
					<div class="pull-left">CSS3</div>
					<div class="pull-right">2014-12-06</div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-sm-6 col-md-4 col-md-4 col-lg-3 ">
		<div class="thumbnail">
			<a href="/note/A00007/index.html" style="background: #293715;" target="_blank">
				<p>翻牌效果</p>
				<strong>利用 CSS3的旋转 实现</strong>
				<div class="boxPanel">
					<div class="pull-left">CSS3</div>
					<div class="pull-right">2014-12-06</div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-sm-6 col-md-4 col-md-4 col-lg-3 ">
		<div class="thumbnail">
			<a href="###" style="background: #a9c531;" target="_blank">
				<p>立方体</p>
				<strong>利用 CSS3的旋转 实现</strong>
				<div class="boxPanel">
					<div class="pull-left">CSS3</div>
					<div class="pull-right">2014-12-09</div>
				</div>
			</a>
		</div>
	</div>
</div>
<%- include footer %>